.container {
  min-width: 3em;
  display: grid;
  grid-template-columns: 3em 1fr;
  grid-template-rows: 1.3em 1.7em;
  grid-column-gap: 0.5em;
  resize: both;
  padding: 0.5em;
  user-select: none;
}

.high {
  background-color: #FFF7F7;
  border-bottom: 2px solid #EEA6A7;
}

.medium {
  background-color: #FDFBD9;
  border-bottom: 2px solid #EBE48A;
}

.low {
  background-color: #EFF5EB;
  border-bottom: 2px solid #C6E2AA;
}

.points_container {
  grid-area: 1 / 1 / span 2 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.points {
  $size: 90%;
  border-radius: 50%;
  background-color: #31B5CC;
  color: white;
  height: $size;
  width: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.3em;
}

.name {
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.1em;
}

.priority {
  color: #3e3e3e;
  font-size: 0.9em;
  display: flex;
  align-items: flex-end;
}
