@import "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #99d6ea;
  flex-shrink: 0;
}

.menus {
  background-color: #deffad;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding: 1em;
}

.stories {
  background-color: #faffc5;
  flex-grow: 1;
  padding: 1em;

  &_droppable {
    height: 100%;
    background-color: #faffc5;
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s ease;
  }
}

.availableToDrop {
  background-color: $allowToDrop;
}
