.container {
  flex-grow: 1;
  height: 100%;
  padding: 1em;
  background-color: #dddddd;
  overflow-x: auto;

  display: flex;
  flex-direction: row;
  gap: 0.5em
}

.right_space {
  &:after {
    content: "❤";
    user-select: none;
    color: transparent;
  }
}
